#loading{
	background-color: #23a94a;
}
.social-btns li a:hover {
	background: #23a94a;
}
.v2 .cart:hover {
	color: #23a94a;
}
.header-info i {
	color: #23a94a;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #23a94a;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #23a94a !important;
}
.navbar-default .navbar-toggle {
    border-color: #23a94a;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #23a94a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #23a94a;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #23a94a;
}
@media (max-width: 768px) {
	.dropdown-menu .divider {
	    background-color: #23a94a;
	}
}
.slider a.prev:hover span i:after,
.slider a.prev:hover span i:before,
.slider a.next:hover span i:after,
.slider a.next:hover span i:before{
	background: #23a94a;
}
.trainer:hover {
	background-color: #23a94a !important;
}
.class-box a {
	border: 3px solid #23a94a;
	color: #23a94a;
}
.class-box a:hover {
	background-color: #23a94a;
}
.info i {
    color: #23a94a;
}
.program-detail i {
    color: #23a94a;
}
.team .hover,
#team-slider .hover {
	background-color: #23a94a;
}
.events {
    background-color: #23a94a;
}
.latest-post .text:hover {
	background-color: #23a94a;
}
.body .tabs {
	background: #23a94a;
}
.sidebar-left ul li i {
	color: #23a94a;
}
.single-product .tab-content ul li:before {
    background: #23a94a;
}
.our-trainers ul li .hover {
	background-color: #23a94a;
}
.forcefullwidth_wrapper_tp_banner .training {
	color: #23a94a;
}
.forcefullwidth_wrapper_tp_banner .training {
	color: #23a94a;
}
.start-training {
	background: #23a94a;
}
.v2 .class-box a {
	border: 2px solid #23a94a;
	background: #23a94a;
}
.v2 .class-box a:hover {
	color: #23a94a;
}
.why-details section div:nth-child(1) {
    background: #23a94a;
}
.simple-btn {
	background: #23a94a;
}
.poly-btn {
    background: #23a94a;
	border: 2px solid #23a94a;
}
.poly-btn:hover {
	color: #23a94a !important;
}
.simple-btn.outline {
	border: 1px solid #23a94a;
	color: #23a94a;
}
.simple-btn.outline:hover {
	background: #23a94a;
}
.the-team-info a:hover {
	color: #23a94a;
}
.tue-main {
	background: #23a94a !important;
	border-left: 3px solid #23a94a;
	border-right:2px solid #23a94a;
}
.tue-sub {
	border-left: 3px solid #23a94a;
	border-right:2px solid #23a94a;
}
.tue-last {
	border-bottom: 2px solid #23a94a;
	border-left: 3px solid #23a94a;
	border-right:2px solid #23a94a;
}
.btn-skew:before {
	background: #23a94a;
	border: 2px solid #23a94a;
}
.btn-skew:hover {
	color: #23a94a;
}
.v2 .team a.prev:hover span i:after,
.v2 .team a.prev:hover span i:before,
.v2 .team a.next:hover span i:after,
.v2 .team a.next:hover span i:before{
	background: #23a94a;
}
.v3 .class-box a:hover {
	color: #23a94a;
}
.v3 .info a.info-open {
    border: 2px solid #23a94a;
    background: #23a94a;
}
.v3 .info a.info-open:hover i {
    color: #23a94a;
}
.events-v3-slider .hover {
	background: #23a94a;
}
.v3 .events-v3 a.open {
    background: #23a94a;
}
.v3 .events-v3 a.open:hover i {
    color: #23a94a;
}
.v3 .product-box .btn-skew:hover i {
	color: #23a94a;
}
.v3 .body .result {
	background: #23a94a;
}
.v3 footer hr.green {
	border-color: #23a94a;
}
.skew-area {
	background: #23a94a;
}
.skew-area a:hover {
	color: #23a94a;
}
.green {
	color: #23a94a !important;
}
.main-heading hr:nth-child(2) {
	border-top: 2px solid #23a94a;
}
.main-heading hr:nth-child(3) {
	border-top: 1px solid #23a94a;
}
.line:before {
	background: #23a94a;
}
.line:after {
	background: #23a94a;
}
.short-line {
	background: #23a94a;
}
.short-line:before {
	background: #23a94a;
}
.short-line:after {
	background: #23a94a;
}
.header {
	border-top: 5px solid #23a94a;
}
.right-side {
	background: #23a94a;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #23a94a !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #23a94a;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #23a94a !important;
	background-color: transparent !important;
}
@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
	    border-top: 2px solid #23a94a !important;
	}
	.navbar-right .dropdown-menu:before {
	    border-top: 1px solid #23a94a;
	}
}
.slider .heading .live {
	color: #23a94a;
}
.why-details h2 {
	color: #23a94a;
}
.info h1 {
	color: #23a94a;
}
.program-prev, .program-next {
    border: 2px solid #23a94a;
    background: #23a94a;
}
.program-prev:hover, .program-next:hover {
	color: #23a94a !important;
}
.program-detail {
	background-color: #23a94a;
}
.box h3 {
	background-color: #23a94a;
}
.box .price {
	color: #23a94a;
}
.box:hover .short-line:hover, .box:hover .short-line:hover:before, .box:hover .short-line:hover:after {
	background: #23a94a;
}
.text p a {
	color: #23a94a;
}
.body .i {
	color: #23a94a;
}
.bird {
	background: #23a94a;
}
.footer-menu li a:not(.short-line):hover {
	color: #23a94a;
}
.footer-menu li a:not(.fa):not(.short-line):before {
	color: #23a94a;
}
.comparison .table .icon-check {
	color: #23a94a;
}
.btn-green {
	background: #23a94a;
}
.navigation a:hover, .navigation a:focus, .navigation a.active {
	background: #23a94a;
}
.commnet-on-article {
	background: #23a94a;
}
a.green {
	color: #23a94a !important
}
a.green:hover, a.green:focus {
	color: #23a94a !important
}
.green a {
	color: #23a94a;
}
.counter h1:before {
	background: #23a94a;
}
.panel-default>.panel-heading i {
	color: #23a94a;
}
.trainer-detail .form .short-line {
 	color: #23a94a;
}
.form-bottom {
	background: #23a94a;
}
.product-pagination ul li.active a {
	color: #23a94a;
}
.product-pagination ul li a:hover {
	color: #23a94a;
}
.product-pagination ul li:first-child a,
.product-pagination ul li:last-child a {
	color: #23a94a;
	border: 1px solid #23a94a;
}
.product-pagination ul li:first-child a i,
.product-pagination ul li:last-child a i {
	color: #23a94a;
}
.product-pagination ul li:first-child a:hover,
.product-pagination ul li:last-child a:hover,
.product-pagination ul li:first-child a:hover i,
.product-pagination ul li:last-child a:hover i {
	background: #23a94a;
}
.view-options a.active {
	color: #23a94a;
}
.product-details ul li i {
	color: #23a94a;
}
.single-product .nav-pills>li.active>a,
.single-product .nav-pills>li.active>a:hover,
.single-product .nav-pills>li.active>a:focus {
    color: #23a94a;
    border-bottom: 1px solid #23a94a;
}
.single-product .nav-pills>li>a:hover,
.single-product .nav-pills>li>a:focus {
    color: #23a94a;
}
.recommended h4:after {
	border-bottom: 1px solid #23a94a;
}
.product-sidebar-single table a {
	color: #23a94a;
	border: 1px solid #23a94a;
}
.product-sidebar-single table a:hover {
	background: #23a94a;
}
.product-details .short-line {
 	color: #23a94a;
}
.gallery .filter-button-group button:hover {
	border: 2px solid #23a94a;
	background: #23a94a;
}
.bill-form .form-control:focus {
	border-color: #23a94a;
}
.billing .table tbody tr td:last-child button {
	background: #23a94a;
}
.payment-methods .short-line {
 	color: #23a94a;
}
.short-line.type2 {
 	color: #23a94a;
}
.coupen .form-control:focus {
	border-color: #23a94a;
}
.steps {
	background: #23a94a;
}
.testimonial-text .quote:before {
	background: #23a94a;
}
.rev-title .live {
	color: #23a94a;
}
.product-details ul li i {
	color: #23a94a;
}
.single-product .nav-pills>li.active>a,
.single-product .nav-pills>li.active>a:hover,
.single-product .nav-pills>li.active>a:focus {
    color: #23a94a;
    border-bottom: 1px solid #23a94a;
}
.classes li p:first-child {
	background: #23a94a;
}
.time-detail p {
	background: #23a94a;
}
.style {
    border: 1px solid #23a94a;
}
.style i {
    color: #23a94a;
}
footer .post .hover {
	background: rgba(94, 217, 176, 0.5) !important;
}